# Telegram MTProto Stream Proxy Environment Variables
# Get API_ID & API_HASH from https://my.telegram.org (API development tools)
API_ID=12345678
API_HASH=abcdef1234567890abcdef1234567890

# Bot token from @BotFather (Make sure the bot is added as an Admin to your channel)
BOT_TOKEN=1234567890:ABC-DEF1234ghIkl-zyx57W2v1u123ew11

# Your Channel Numeric ID (e.g. -100xxxxxxxxxx) or public channel username (e.g. moviehub2108)
CHANNEL_ID=moviehub2108

# Server Port
PORT=8080
